HTML {
    overflow : hidden;
    width: 100%;
    height: 100%;
}

BODY {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Geneva, sans-serif;
    font-size: 11px;
}

/********************/
/* Widget outline   */
/********************/

.outline {
    border-style: dashed;
    border-color: red;
}

.outline>div {
    background-color: black;
}

/********************/
/* Text highlight   */
/********************/

#_hl SPAN {
    background-color: yellow;
}

/********************/
/* Tooltip          */
/********************/

.tooltip {
    border-style: solid;
}

/********************/
/* Field            */
/********************/

.field {
    border-style: solid;
    border-color: DarkGray;
    background-color: white;
}

.field INPUT, .field TEXTAREA {
    border: none;
    background-color: transparent;
    font-family: Geneva, sans-serif;
    font-size: 11px;
}

.field INPUT:focus, .field TEXTAREA:focus {
    background-color: #FFF684;
}

.field .optionselected {
    cursor: default;
    color: white;
    background-color: navy;
}

/********************/
/* Label            */
/********************/

.label {
    cursor: default;
    border-style: solid;
}

/********************/
/* Flat button      */
/********************/

.flat {
    text-align : center;
    margin-right: 6px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent;
}

.flat.over {
    color: blue;
    border-color: ThreedHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreedHighlight;
}

.flat.on {
    border-color: ThreeDDarkShadow ThreedHighlight
                  ThreedHighlight ThreeDDarkShadow;
    background-color: InfoBackground;
}

.flat.menu {
    border-color: ThreeDDarkShadow ThreedLightShadow
                  ThreedLightShadow ThreeDDarkShadow;
}

/********************/
/* Button           */
/********************/

.btn {
    border-style: solid;
    background-color: buttonface;
    border-color: ThreedHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreedHighlight;
}

.btn .l2 {
    border-style: solid;
    border-color: ThreedLightShadow ThreedShadow
                  ThreedShadow ThreedLightShadow;
}

.btn .l2.default {
    border-color: Gray;
    font-weight: bolder;
}

.btn:hover {
    border-color: #FFA500 #663300 #663300 #FFA500;
    color: blue;
}

.btn.down {
    border-color: ThreeDDarkShadow ThreedHighlight
                  ThreedHighlight ThreeDDarkShadow;
}

.btn.down .l2, .btn.down .l2default {
    border-color: ThreedShadow ThreedLightShadow
                  ThreedLightShadow ThreedShadow;
}

/********************/
/* Sprite button    */
/********************/

.spritebutton:hover {
    cursor: pointer;
}

/********************/
/* Window           */
/********************/

.window {
    border-style: solid;
    border-color: black;
    background-color: #D5CCBB;
}

.window .header {
    color: white;
    font-weight: bolder;
    background-image: url(images/win_title.gif);
    background-color: #FF6600;
    background-repeat: repeat-x;
    white-space: nowrap;
}

.window .body {
    border: solid transparent;
}

.window .status {
    border-style: solid;
    border-color: ThreeDDarkShadow ThreedHighlight 
                  ThreedHighlight ThreeDDarkShadow;
}

.resize {
    background-image : url(images/resize-handle.gif);
    background-repeat : no-repeat;
    cursor : se-resize;
}

.resize[dir=rtl] {
    background-image: url(images/resize-handle-rtl.gif);
    cursor: sw-resize;
}

/********************/
/* Splitter         */
/********************/

.splitter .handleV {
    border-style : solid;
    background-color: buttonface;
    border-color: buttonface ThreeDDarkShadow
                  buttonface ThreedHighlight;
}

.splitter .handleH {
    border-style: solid;
    background-color: buttonface;
    border-color: ThreedHighlight buttonface
                  ThreeDDarkShadow buttonface;
}

/********************/
/* Outlook bar      */
/********************/

.outlookbar .tool {
    border-style: solid;
    border-color: ThreedHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreedHighlight;
    background-color : Menu;
    white-space : nowrap;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

/********************/
/* Tool bar         */
/********************/

.toolbar {
    border-style: solid;
    border-color: ThreedHighlight ThreeDShadow
                  ThreeDShadow ThreedHighlight;
    white-space: nowrap;
}

.toolbar .handle {
    background-image: url(images/tb_handle.gif);
}

/********************/
/* Menu bar         */
/********************/

.menubar {
    border-style: solid;
    border-color: ThreedHighlight ThreeDShadow
                  ThreeDShadow ThreedHighlight;
    white-space: nowrap;
}

.menubar .menu {
    cursor: default;
    border-style: solid;
    float: left;
    clear: right;
}

.menubar .menu[dir=rtl] {
    float: right;
    clear: left;
}

.menubar .menu.over{
    border-color: ThreedHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreedHighlight;
}

.menubar .menu.selected {
    border-style: solid;
    border-color: ThreeDDarkShadow ThreedHighlight
                  ThreedHighlight ThreeDDarkShadow;
}

/********************/
/* Context menu     */
/********************/

.contextmenu {
    border-style: solid;
    border-color: ThreedLightShadow ThreeDDarkShadow
                  ThreeDDarkShadow ThreedLightShadow;
    background-color: #F5F5F5;
    cursor: default;
}

.contextmenu .submenu {
    background-image: url(images/submenu.gif);
    background-position: right;
    background-repeat: no-repeat;
}

.contextmenu .submenu[dir=rtl] {
    background-image: url(images/submenu-rtl.gif);
    background-position: left;
}

.contextmenu .option {
    border: solid transparent;
}

.contextmenu .option:hover {
    color: white;
    background-color: #6699FF;
}

.contextmenu .separator {
    border-style: solid;
    border-color: ThreedShadow ThreedLightShadow
                  ThreedLightShadow ThreedShadow;
}

/********************/
/* Separator        */
/********************/

.separator {
    border-style: solid;
    border-color: ThreedDarkShadow ThreedHighlight
                  ThreedHighlight ThreedDarkShadow;
}

/********************/
/* Tab pane         */
/********************/

.tabpane {
    white-space: nowrap;
}

.tabpane .tab {
    background-color: #E5D9C8;
    border-style: solid solid none solid;
    border-color: ThreeDHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreeDHighlight;
    margin-top: 2px;
    float: left;
    clear: right;
    white-space: nowrap;
}

.tabpane .tab[dir=rtl] {
    float: right;
    clear: left;
}

.tabpane .active {
    cursor: default
}

.tabpane .inactive {
    cursor: pointer;
}

.tabpane .inactive:hover {
    color: blue;
}

.tabpane .tabpage {
    background-color: #E5D9C8;
    border-style: solid;
    border-color: ThreeDHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreeDHighlight;
}

/********************/
/* List view        */
/********************/

.listview TABLE {
    table-layout: fixed;
    font-size: 11px;
}

.listview .listheader {
    background-color: #F5F2EF;
    background-image: url(images/list_header.gif);
    background-repeat: repeat-x;
    background-position: bottom left;
}

.listview .listheader .column {
    border-width: 1px;
    border-style: none solid;
    border-color: ThreeDHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreeDHighlight;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.listview .listheader .column[dir=rtl] {
    border-color: ThreeDHighlight ThreeDHighlight
                  ThreeDShadow ThreeDShadow;
}

.listview .listheader .filler {
    border-style: none none none solid;
}

.listview .listheader .filler[dir=rtl] {
    border-style: none solid none none;
}

.listview .listheader .resizer {
    cursor: e-resize;
    border-style: solid;
    background-image: url(../../images/transp.gif);
}

.listview .list .srow {
    color: white;
    background: #6699FF;
}

.listview .srow TD {
    background: none !important;
}

.listview .list .column {
    background-color: ThreeDFace !important;
    border-width: 1px;
    border-style: solid;
    border-color: ThreeDHighlight ThreeDShadow
                  ThreeDShadow ThreeDHighlight;
    overflow: hidden;
    cursor: default;
}

.listview .list .column[dir=rtl] {
    border-color: ThreeDHighlight ThreeDHighlight
                  ThreeDShadow ThreeDShadow;
}

.listview .list .cell {
    overflow: hidden;
    border-color: silver;
    border-style: none solid solid none;
    cursor: default;
}

.listview .list .cell[dir=rtl] {
    border-style: none none solid solid;
}

.listview .list .cell SPAN {
    white-space: nowrap;
}

/********************/
/* Progress bar     */
/********************/

.progressbar {
    border-style: solid;
    border-color: black;
}

.progressbar .bar {
    background-color: #6699FF;
}

/********************/
/* Tree             */
/********************/

.tree .treenode {
    cursor: default;
    border-style: none;
}

.tree .treenode A {
    color: black;
    text-decoration: none;
}

.tree .treenode A:hover {
    color: orange;
    text-decoration: underline;
}

.tree .treenode A.disabled, .tree .treenode A:hover.disabled {
    color: GrayText;
    text-decoration: none;
    cursor: default;
}

.tree .treenode A.selected {
    background: highlight;
    color: highlighttext;
    text-decoration: none;
}

/********************/
/* Combo            */
/********************/

.combo.noneditable {
    border-style: solid;
    border-color: DarkGray;
    background-color: white;
}

.combo INPUT {
    font-family: Geneva, sans-serif;
    font-size: 11px;
}

.combo.noneditable INPUT {
    border: none;
}

.combo.editable INPUT {
    border: 1px solid;
    border-color: #333 #CCC transparent #333;
}

.combodropdown {
    border-style: solid;
    border-color: gray;
}

.combodropdown .option {
    cursor: default;
    white-space: nowrap;
}

.combodropdown .option:hover {
    color: white;
    background-color: #6699FF;
}

/********************/
/* Spin button      */
/********************/

.spin.noneditable {
    border-style: solid;
    border-color: DarkGray;
    background-color: white;
}

.spin INPUT {
    font-family: Geneva, sans-serif;
    font-size: 11px;
}

.spin.noneditable INPUT {
    border: none;
}

.spin.editable INPUT {
    border: 1px solid;
    border-color: #333 #CCC #CCC #333;
}

.spin #_up .l2 {
    background: url(images/asc8.gif) no-repeat;
    background-position: center;
}

.spin #_down .l2 {
    background: url(images/desc8.gif) no-repeat;
    background-position: center;
}

/********************/
/* DatePicker       */
/********************/

.DatePicker {
    background-color: #EDEDED;
}

.DatePickerBtn {
    cursor: pointer;
}

.DatePickerBtnNow {
    background-color: #c0c0ff;
}

.DatePickerBtnSelect {
    background-color: red;
}

/********************/
/* Group box        */
/********************/

.groupbox {
    background-color: #D5CCBB;
}

.groupbox .groupboxframe {
    border-color: lightgray;
    border-style: groove;
}

/********************/
/* Slider           */
/********************/

.slider .slot {
    border-color: lightgray;
    border-style: inset;
}

.slider .handle {
    cursor: e-resize;
}

/********************/
/* Flow box         */
/********************/

.flowbox .selected {
    background-color: #6699FF;
}

/********************/
/* Rich text editor */
/********************/

.richtext .field TEXTAREA {
    font-family: Courier, Monospace;
    font-size: 12px;
}

.richtext .editframe {
    border-style: solid;
    border-color: #CCC;
}

/********************/
/* File upload      */
/********************/

.btnupload {
    border-style : solid;
    border-color : transparent;
}

.btnupload:hover {
    border-color: ThreedHighlight ThreeDDarkShadow
                  ThreeDDarkShadow ThreedHighlight;
}
