/********************/
/* Widget outline   */
/********************/

.outline {
    border-style: dashed;
    border-color: red;
}

.outline > div {
    background-color: black;
}

/********************/
/* Text highlight   */
/********************/

#_hl SPAN {
    background-color: yellow;
}

/********************/
/* Desktop          */
/********************/

#desktop {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Calibri, sans-serif;
    font-size: 12px;
}

/********************/
/* Tooltip          */
/********************/

.tooltip {
    border: solid #CCC;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 2px 2px 2px rgb(92, 92, 92);
    -moz-box-shadow: 2px 2px 2px rgb(92, 92, 92);
    box-shadow: 2px 2px 2px rgb(92, 92, 92);
}

/********************/
/* HBox             */
/********************/

.hflexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: start;

    display: box;
    box-orient: horizontal;
    box-align: start;
}

.hbox {
    white-space: nowrap;
}

.hbox > * {
    vertical-align: top;
    display: inline-block;
}

/********************/
/* VBox             */
/********************/

.vflexbox {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    display: box;
    box-orient: vertical;
    box-align: start;
}

/********************/
/* Image            */
/********************/

.image {
    background-repeat: no-repeat;
    background-position: center;
}

/********************/
/* Field            */
/********************/

.field {
    border-style: solid;
    border-color: #CCC;
    background-color: white;
    color: #333;
    white-space: nowrap;
}

.field[dir=rtl] {
    text-align: right;
}

.field INPUT, .field TEXTAREA {
    border: none;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -webkit-user-select: text;
    margin: 0px;
    position: absolute;
    z-index: 1;
    padding: 0px;

    /*IE inherit Hack*/
    font-size: expression(this.parentNode.currentStyle.fontSize);
    font-family: expression(this.parentNode.currentStyle.fontFamily);
    font-weight: expression(this.parentNode.currentStyle.fontWeight);
    font-style: expression(this.parentNode.currentStyle.fontStyle);
    text-decoration: expression(this.parentNode.currentStyle.textDecoration);
    text-align: expression(this.parentNode.currentStyle.textAlign);
    letter-spacing: expression(this.parentNode.currentStyle.letterSpacing);
    color: expression(this.parentNode.currentStyle.color);

    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-shadow: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.field input[type=checkbox], .field input[type=radio] {
    vertical-align: middle;
}

.field INPUT:focus,
.field TEXTAREA:focus {
}

.field .option {
    overflow: hidden;
    text-overflow: ellipsis;
}

.field .option.selected {
    cursor: default;
    background-color: #B5D5FF;
}

.field #_o, .combo #_o {
    opacity : .5;
    filter: alpha(opacity=50);
}

/********************/
/* Checkbox / Radio */
/********************/

.checkbox input, .radio input {
    vertical-align: middle;
}

.checkbox span, .radio span {
    vertical-align: middle;
    cursor: default;
}

/********************/
/* Label            */
/********************/

.label {
    cursor: default;
    border-style: solid;
}

.label[dir=rtl] {
    text-align: right;
}

/********************/
/* Flat button      */
/********************/

.flat {
    text-align : center;
    cursor: pointer;
    border-style: solid;
    border-color: transparent;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.flat.over {
    border-color: #888;
}

.flat.on {
    border-color: #888 #CCC #CCC #888;
    background: #C3E1F5;
}

.flat.menu {
    border-color: #888 #CCC #CCC #888;
    background: #66CCFF;
}

/********************/
/* Button           */
/********************/

.btn {
    font-weight: 600;
    color: #333;
    cursor: pointer;

    border-style: solid;
    border-color: #C0C1BF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background-color: #D7D7D7;
    background-image: url(images/btn.png);
    background-repeat: repeat-x;

    background-image: -webkit-gradient(linear, left top, left bottom,
                                       from(#F0F0F0), to(#D7D7D7)); /* for webkit browsers */
    background-image: -moz-linear-gradient(top,  #F0F0F0,  #D7D7D7); /* for firefox 3.6+ */
    background-image: -o-linear-gradient(top,  #F0F0F0,  #D7D7D7); /* for opera 11.10+ */
}

.btn .l2 {
    border: solid transparent;

    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

/********************/
/* Sprite button    */
/********************/

.spritebutton {
    background-repeat: repeat-x;
}

.spritebutton:hover {
    cursor: pointer;
}

/********************/
/* Window           */
/********************/

.window {
    border-style: solid;
    border-color: #888;
    background-color: #BBBBBB;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.window .header {
    color: black;
    font-weight: bolder;
    letter-spacing: 0.1ex;
    white-space: nowrap;
}

.window .body {
    border: solid #9F9F9F;
    background: #F2F2F2;
}

.window .status{
    border-style: solid;
    border-color: #888;

    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.resize {
    background-image : url(images/resize-handle.gif);
    background-repeat : no-repeat;
    cursor : se-resize;
}

.resize[dir=rtl] {
    background-image: url(images/resize-handle-rtl.gif);
    cursor: sw-resize;
}

/********************/
/* Splitter         */
/********************/

.splitter .handleV {
    border-style : solid;
    border-color: transparent #888 transparent #CCC;
    background: url(images/splitter_h.png) no-repeat;
    background-color: buttonface;
    background-position: center;
}

.splitter .handleH {
    border-style: solid;
    border-color: #CCC transparent #888 transparent;
    background: url(images/splitter_v.png) no-repeat;
    background-color: buttonface;
    background-position: center;
}

/********************/
/* Outlook bar      */
/********************/

.outlookbar .tool {
    border-style: solid;
    border-color: #CCC;

    background-color: #EBEBEB;
    background-image: url(images/list_header.gif);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 from(#FFF), to(#EBEBEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFF,  #EBEBEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #FFF,  #EBEBEB); /* for opera 11.10+ */

    white-space : nowrap;
    font-weight: bold;
    cursor: pointer;
}

/********************/
/* Tool bar         */
/********************/

.toolbar {
    border-style: solid;
    border-color: #CCC transparent #CCC transparent;
    white-space: nowrap;
}

.toolbar .handle {
    border-style: solid;
    border-color: #CCC #888 #888 #CCC;
    /*background: #999;*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/********************/
/* Menu bar         */
/********************/

.menubar {
    border-style: solid;
    border-color: #CCC transparent #888 transparent;
    white-space: nowrap;
}

.menubar .menu {
    cursor: default;
    border: solid transparent;
    float: left;
    clear: right;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.menubar .menu[dir=rtl] {
    float: right;
    clear: left;
}

.menubar .menu.over{
    border-color: #888;
}

.menubar .menu.selected {
    border-color: #0099FF;

    color: #333333;
    background: #0099FF;
}

/********************/
/* Context menu     */
/********************/

.contextmenu {
    border-style: solid;
    border-color: #888;
    background-color: #F5F5F5;
    cursor: default;

    -webkit-box-shadow: 2px 2px 2px rgb(92, 92, 92);
    -moz-box-shadow: 2px 2px 2px rgb(92, 92, 92);
    box-shadow: 2px 2px 2px rgb(92, 92, 92);
}

.contextmenu .inner {
    border-style: solid;
    border-color: transparent #CCC transparent transparent;
}

.contextmenu .submenu {
    background-image: url(images/submenu.gif);
    background-position: right;
    background-repeat: no-repeat;
}

.contextmenu .submenu[dir=rtl] {
    background-image: url(images/submenu-rtl.gif);
    background-position: left;
}

.contextmenu .option {
    border: solid transparent;
    white-space: nowrap;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.contextmenu .option:hover {
    /*color: #333333;*/
    border: solid #999;
    background-color: #C3E1F5;
}

.contextmenu .separator {
    border-style: solid;
    border-color: #CCC #EDEDED #EDEDED #CCC;
}

/********************/
/* Separator        */
/********************/

.separator {
    border-style: solid;
    border-color: #CCC #EDEDED #EDEDED #CCC;
}

/********************/
/* Tab pane         */
/********************/

.tabpane {
    white-space: nowrap;
}

.tabpane .tab {
    border-style: solid;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border-style: solid solid none solid;
    border-color: #999;

    margin: 2px 1px 0px 1px;
    float: left;
    clear: right;
    white-space: nowrap;
}

.tabpane .tab:first-child {
    margin-left: 8px;
}

.tabpane .tab[dir=rtl] {
    float: right;
    clear: left;
}

.tabpane .tab:first-child[dir=rtl] {
    margin-right: 8px;
}

.tabpane .active {
    color: white;
    font-weight: 600;

    background: #999999;
    background-image: url(images/tab_active.gif);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0.5, #A7A7A7),
                                 color-stop(0.5, #999999));
    background: -moz-linear-gradient(top,  #A7A7A7 50%, #999999 50%);
    background: -o-linear-gradient(top,  #A7A7A7 50%, #999999 50%);

    cursor: default;
}

.tabpane .inactive {
    color: #333;
    font-weight: 600;

    background-color: #CCCCCC;
    background-image: url(images/tab_inactive.gif);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0.5, #D3D3D3),
                                 color-stop(0.5, #CCCCCC));
    background: -moz-linear-gradient(top,  #D3D3D3 50%, #CCCCCC 50%);
    background: -o-linear-gradient(top,  #D3D3D3 50%, #CCCCCC 50%);

    cursor: pointer;
}

.tabpane .tabpage {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-color: #999999;
    background-color: #EDEDED;
}

/********************/
/* List view        */
/********************/

.listview TABLE {
    table-layout: fixed;
    font-size: 12px;
}

.listview .listheader {
    color: #666;
    font-weight: bold;

    background-color: #EBEBEB;
    background-image: url(images/list_header.gif);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 from(#FFF), to(#EBEBEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFF,  #EBEBEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #FFF, #EBEBEB); /* for opera 11.10+ */
}

.listview .listheader TABLE {
    border: 1px #999;
    border-style: solid none;
}

.listview .listheader .column {
    border-width: 1px;
    border-style: solid;
    border-color: transparent #999
                  transparent transparent;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.listview .listheader .column[dir=rtl] {
    border-color: transparent transparent
                  transparent #999;
}

.listview .listheader .filler {
    border-style: none none none solid;
}

.listview .listheader .filler[dir=rtl] {
    border-style: none solid none none;
}

.listview .listheader .resizer {
    cursor: e-resize;
    border-style: solid;
    background-image: url(../../images/transp.gif);
}

.listview .list {
    color: #333;
}

.listview .list .r0 {
    background: #F4F4F4;
}

.listview .list TR:hover {
    color: #333333;
    background: #C3E1F5;
}

.listview .list .srow {
    color: #333333;
    background: #0099FF !important;
}

.listview .srow TD, TR:hover TD {
    background-color: transparent !important;
}

.listview .list .column {
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #999
                  #999 transparent;

    background-image: url(images/list_header.gif);
    background-repeat: repeat-x;
    background-color: #EBEBEB !important;

    background: -webkit-gradient(linear, left top, left bottom,
                                 from(#FFF), to(#EBEBEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFF, #EBEBEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #FFF, #EBEBEB); /* for opera 11.10+ */
}

.listview .list .column[dir=rtl] {
    border-color: transparent transparent
                  #999 #999;
}

.listview .list .cell {
    overflow: hidden;
    border-color: silver;
    border-style: none solid solid none;
    cursor: default;
}

.listview .list .cell[dir=rtl] {
    border-style: none none solid solid;
}

.listview .list .cell SPAN {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/********************/
/* Progress bar     */
/********************/

.progressbar {
    border-style: solid;
    border-color: #ccc;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.progressbar .bar {
    background-color: #ccc;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

/********************/
/* Tree             */
/********************/

.tree {
    cursor: default;
    color: #0099CC;
}

.treenode {
    color: #333333;
    white-space: nowrap;
}

.treenode A {
    color: inherit;
    text-decoration: none;
}

.treenode A.disabled,
.treenode A:hover.disabled {
    color: GrayText;
    text-decoration: none;
    cursor: default;
}

.treenode.selected {
    color: #333333;
    background: #B5D5FF;
}

/********************/
/* Combo            */
/********************/

.combo {
    border: solid #C0C1BF;

    background-color: #D7D7D7;
    background-image: url(images/btn.png);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 from(#F0F0F0), to(#D7D7D7)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F0F0F0,  #D7D7D7); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #F0F0F0,  #D7D7D7); /* for opera 11.10+ */
}

.combo .btn {
    -webkit-border-top-right-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    -moz-border-radius-topright: inherit;
    -moz-border-radius-bottomright: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-color: transparent transparent transparent #C0C1BF;
    background: none;
}

.combo SELECT {
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;

    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-shadow: inherit;
}

.combo INPUT {
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    margin: 0px;
    position: absolute;
    z-index: 1;

    /*IE inherit Hack*/
    font-size: expression(this.parentNode.currentStyle.fontSize);
    font-family: expression(this.parentNode.currentStyle.fontFamily);
    font-weight: expression(this.parentNode.currentStyle.fontWeight);
    font-style: expression(this.parentNode.currentStyle.fontStyle);
    text-decoration: expression(this.parentNode.currentStyle.textDecoration);
    text-align: expression(this.parentNode.currentStyle.textAlign);
    letter-spacing: expression(this.parentNode.currentStyle.letterSpacing);
    color: expression(this.parentNode.currentStyle.color);

    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-shadow: inherit;
    -webkit-border-top-left-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    -moz-border-radius-topleft: inherit;
    -moz-border-radius-bottomleft: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.combo.noneditable {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.combo.noneditable INPUT {
    border: none;
}

.combo.editable {
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.combo.editable INPUT {
    -webkit-user-select: text;
    background-color: white;
    border: none;
}

.combodropdown {
    border-style: solid;
    border-color: #C0C1BF;
    background: white;
}

.combodropdown .option {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.combodropdown .over,
.combodropdown .option:hover {
    color: white;
    background-color: #6699FF;
}

/********************/
/* Spin button      */
/********************/

.spin INPUT {
    background-color: transparent;
    font-family: Calibri, sans-serif;
    font-size: 12px;
    margin: 0px;
    position: absolute;
    text-align: right;
}

.spin.noneditable {
    border: solid #666;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background-color: #E3E3E3;
    background-image: url(images/btn.gif);
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, left top, left bottom,
                                 from(#FBFBFB), to(#E3E3E3)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FBFBFB,  #E3E3E3); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #FBFBFB,  #E3E3E3); /* for opera 11.10+ */
}

.spin.noneditable INPUT {
    border: none;
    cursor: default;
}

.spin.noneditable #_up {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.spin.noneditable #_down {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.spin.editable INPUT {
    -webkit-user-select: text;
    border: 1px solid #C0C1BF;
}

.spin #_up {
    -webkit-border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    border-radius: 0px 3px 0px 0px;
}

.spin #_down {
    -webkit-border-radius: 0px 0px 3px 0px;
    -moz-border-radius: 0px 0px 3px 0px;
    border-radius: 0px 0px 3px 0px;
}

.spin #_up .l2 {
    background: url(images/asc8.gif) no-repeat;
    background-position: center;
}

.spin #_down .l2 {
    background: url(images/desc8.gif) no-repeat;
    background-position: center;
}

/********************/
/* DatePicker       */
/********************/

.DatePicker {
    background-color: #EDEDED;
}

.DatePickerBtn {
    cursor: pointer;
}

.DatePickerBtnNow {
    background-color: #c0c0ff;
}

.DatePickerBtnSelect {
    background-color: red;
}

/********************/
/* Group box        */
/********************/

.groupbox {
    background-color: white;
}

.groupboxframe {
    border-color: lightgray;
    border-style: groove;
}

/********************/
/* Slider           */
/********************/

.slider .slot {
    border-color: #929292;
    border-style: solid;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.slider .handle {
    cursor: e-resize;
}

/********************/
/* Flow box         */
/********************/

.flowbox > * {
    float: left
}

.flowbox[dir=ltr] > * {
    float: right;
}

.flowbox .selected {
    background-color: #B5D5FF !important;
}

/********************/
/* Rich text editor */
/********************/

.richtext .field TEXTAREA {
    font-family: Courier, Monospace;
    font-size: 12px;
}

.richtext .editframe {
    border-style: solid;
    border-color: #CCC;
}

/********************/
/* File upload      */
/********************/

.btnupload {
    border-style : solid;
    border-color : transparent;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btnupload:hover {
    border-color: #888;
}

/********************/
/* Scroll View      */
/********************/

.scrollview #_sb {
    border: 1px solid #666;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/********************/
/* IFrame           */
/********************/

.ifrm iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
}
