<config>
	<context path="widgets.js" method="GET" client=".*" lang=".*" action="widgets.js">
		<filter
			type="porcupine.filters.output.I18n"
			using="org.innoscript.desktop.strings.resources"/>
	</context>
	<context match="(.*)\.js"
		method="GET"
		client="MSIE 6"
		lang=".*"
		action="$1.js"
		max-age="1200"/>
	<context match="(.*)\.js"
			method="GET"
			client=".*"
			lang=".*"
			action="$1.js"
			max-age="1200">
		<filter type="porcupine.filters.output.Gzip"/>
	</context>
	<!-- Stylesheets -->
    <context match="(.*)\.css"
            method="GET"
            client=".*"
            lang=".*"
            max-age="3600"
            action="$1.css"/>
	<!-- Desktop images-->
	<context match="images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="images/$1"
		max-age="3600"/>
</config>
