<config>
    <context path="ui/widget.js"
		method="GET"
		client="MSIE 6"
		lang=".*"
		action="ui/widget.js"
		max-age="1200"/>
    <context path="ui/widget.js"
			method="GET"
			client=".*"
			lang=".*"
			action="ui/widget.js">
		<filter type="porcupine.filters.output.Gzip"/>
	</context>
	<context path="utils/date.js"
		method="GET"
		client=".*"
		lang=".*"
		action="utils/date.js.psp"/>
	<context path="ui/ReadFile.jar"
		method="GET"
		client=".*"
		lang=".*"
		action="ui/ReadFile.jar"/>
	<!-- QuiX default theme -->
	<context path="themes/default/quix.css"
		method="GET"
		client=".*"
		lang=".*"
		action="themes/default/quix.css.psp"/>
    <!-- html pages -->
	<context match="(.*)\.htm"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.htm"/>
    <!-- Stylesheets -->
	<context match="(.*)\.css"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.css"/>
	<!-- QuiX Modules -->
	<context match="(.*)\.js"
		method="GET"
		client="MSIE 6"
		lang=".*"
		action="$1.js"/>
	<context match="(.*)\.js"
            method="GET"
            client=".*"
            lang=".*"
            action="$1.js">
        <filter type="porcupine.filters.output.Gzip"/>
    </context>
	<!-- Flash files -->
	<context match="(.*)\.swf"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.swf"
		max-age="1200"/>
	<!-- QuiX images-->
	<context match="(.*)images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="$1images/$2"
		max-age="1200"/>
</config>