<config>
    <context path="ui/widget.js"
		method="GET"
		client="MSIE [6-8]"
		lang=".*"
		action="ui/widget.js"
		max-age="1200"/>
    <context path="ui/widget.js"
			method="GET"
			client="Version/[3-4].\d(.*)Safari|Chrome/\d.\d|Netscape/7|Mozilla/5.0|Opera/9"
			lang=".*"
			action="ui/widget.js"
			max-age="1200">
		<filter type="porcupine.filters.output.Gzip"/>
	</context>
	<context path="utils/date.js"
		method="GET"
		client=".*"
		lang=".*"
		action="utils/date.js.psp"/>
	<context path="ui/ReadFile.jar"
		method="GET"
		client=".*"
		lang=".*"
		action="ui/ReadFile.jar"/>
	<!-- QuiX default theme -->
	<context path="themes/default/quix.css"
		method="GET"
		client=".*"
		lang=".*"
		action="themes/default/quix.css.psp"
		max-age="1200"/>
    <!-- html pages -->
	<context match="(.*)\.htm"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.htm"
		max-age="1200"/>
    <!-- Stylesheets -->
	<context match="(.*)\.css"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.css"
		max-age="1200"/>
	<!-- QuiX Modules -->
	<context match="(.*)\.js"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.js"
		max-age="1200"/>
	<!-- Flash files -->
	<context match="(.*)\.swf"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.swf"
		max-age="1200"/>
	<!-- QuiX images-->
	<context match="(.*)images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="$1images/$2"
		max-age="1200"/>
</config>